{% if page.sponsors %}
{% assign tiers=site.data.[page.sponsors] %}
    <div class="columns is-multiline">
        {% for tier in tiers %}
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ tier.tier_name }}</span>
            </p>
            <p class="subtitle has-text-centered">
                <span class="icon is-large {% if tier.icon_color %} {{ tier.icon_color }} {% else %} gh-sponsor {% endif %}">
                    <i class="fas {% if tier.icon_class %} {{ tier.icon_class }} {% else %}} fa-heart {% endif %}} fa-2x"></i>
                </span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <p>{{ tier.description | markdownify }}</p>
                </div>
            </div>

            <div class="columns is-multiline is-centered">
                {% for sponsor in tier.sponsors %}
                <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                    <div class="box has-text-centered">
                        <p class="title supporter-title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            {{ sponsor.name }}
                        </p>
                        <p class="title is-7">
                            {{ sponsor.title }}
                        </p>
                        <p class="subtitle is-6">
                            {% if sponsor.quote %}
                            <div class="quotebar">
                                {% include sponsor-quote.html sponsor=sponsor %}
                            </div>
                            {% endif %}
                            {% if sponsor.profile %}
                            <a href="{{ sponsor.profile }}" class="is-link is-small">View Profile</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-12">
            <hr />
        </div>
        {% endfor %}
    </div>
{% endif %}
